<div *ngIf="loading " class="loader w-100 h-100 d-flex justify-content-center position-absolute  ">
    <div class="spinner-border mx-auto" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<h1 *ngIf="!orderDetail || orderDetail.status === 'canceled'" class="text-center"> Order is successfully canceled  </h1>


<div *ngIf="orderDetail "
    class="py-2 d-flex flex-md-row flex-column justify-content-around align-items-center ">
    <div *ngIf="orderDetail" class="box">
  
        <div *ngFor="let item of orderDetail.items">
            <div class="card m-2 w-100  ">
                <div class="card-body" class="p-2 d-flex flex-row gap-2">
                    <img src="{{item.productId.thumbnail}}" alt="" style="height:5rem; width: 5rem;">
                    <div class="d-flex flex-column">
                        <h5 class="card-title">{{item.productId.brand}}</h5>
                        <span class="card-text">{{item.productId.description}}</span>

                    </div>
                    <div class="ms-auto d-flex flex-column justify-content-between">
                        <span><i class="bi bi-currency-dollar"></i>{{item.productId.price}} * {{item.quantity }} </span>
                        
                        
                        <button style="min-width: 6rem;" *ngIf="item.status===false && orderDetail.status!== 'canceled'" class="btn btn-danger btn-sm " (click)="cancelItem(item.productId._id)">Cancel
                            Item</button>
                            <span class="badge text-bg-danger " *ngIf="item.status === true " >{{item.status}}</span>
                    </div>

                </div>
            </div>
        </div>
        <button  class="cancel btn btn-primary mx-4 " *ngIf="orderDetail && orderDetail.status!=='canceled' && orderDetail.totalItems >= 1 "
            (click)="orderCancel(orderDetail._id)">Cancel Order</button>
        </div>
        <div class="summery card" style="padding-right: 6rem;" *ngIf="orderDetail.items && orderDetail.totalItems >= 1 ">
      
        <h2 class=" " >Order Summery</h2>
        <div>
            <div><span>TotalItems</span><span style="margin-left: 6rem;">  {{orderDetail.totalItems}} </span></div>
            <div><span>TotalPrice</span><span style="margin-left: 6rem;">{{orderDetail.totalPrice}}<i class="bi bi-currency-dollar"></i></span></div>
        </div>
        <div id="address-details cart" >
            <h5 style="margin-left: 2rem;">Delivered to :</h5>
            <div>
                <div><span>Name:</span><span style="margin-left: 1rem;">{{orderDetail.shippingInfo.name}}</span><br></div>
                <div><span>Phone:</span><span style="margin-left: 1rem;">{{orderDetail.shippingInfo.phone}}</span><br></div>

                <div><span>House:</span><span style="margin-left: 1rem;">{{orderDetail.shippingInfo.address.house}}</span><br></div>
                
                <div><span>City:</span><span style="margin-left: 2rem;">{{orderDetail.shippingInfo.address.city}}</span><br></div>
                <div><span>State:</span><span style="margin-left: 1.5rem;">{{orderDetail.shippingInfo.address.state}}</span><br></div>

                <div><span>Pincode:</span><span style="margin-left: .5rem;">{{orderDetail.shippingInfo.address.pincode}}</span><br></div>
            </div>
        </div>
    </div>
</div>
