
/* For small screens */
@media (max-width: 576px) {
  /* Center align loader */
  .loader {
    justify-content: center;
    align-items: center;
  }

  /* Adjust card layout */
  .card-body {
    flex-direction: column;
    align-items: center;
  }

  /* Increase image size for better visibility on small screens */
  .card-body img {
    height: 7rem;
    width: 7rem;
  }
}

/* For medium screens */
@media (min-width: 577px) and (max-width: 992px) {
  /* Adjust card layout */
  .card-body {
    flex-direction: row;
    gap: 1rem;
  }
}

/* For large screens */
@media (min-width: 993px) {
  /* Adjust layout for the whole page */
  .d-flex.flex-md-row.flex-column {
    flex-direction: row;
  }

  /* Adjust layout for the order details section */
  .box {
    width: 60%;
  }

  /* Adjust layout for the summary section */
  .summery {
    width: 30%;
    padding-left: 2rem;
    margin-top: 2rem;
  }
}
