<div class="container-fluid mt-2;" style="margin-left: 5rem; margin-top: 3rem;">
  <div *ngIf="product" class="d-flex flex-column flex-md-row gap-5">
    <div>
      <div style="height: 350px; width: 400px; ">
        <img
          src="{{ image || product.thumbnail }}"
          alt=""
          style="height: 100% ; display: flex; "
          class="img-fluid"
        />
      </div>
      <div
        class="d-flex flex-row mt-2 "
        style="width: 350px;; height: 8rem; overflow-x: scroll; cursor: pointer; "
      >
        <img
          src="{{ url }}"
          alt=""
          *ngFor="let url of product.images"
          (click)="showimage(url)"
        />
      </div>
    </div>

    <div class="d-flex flex-column" style="width: 500px; margin-right: 8rem;  height: 350px;">
      <h2>Brand:{{ product.brand }}</h2>
      <p>{{ product.description }}</p>
      <p>{{ product.category }}</p>

      <p class="text-danger">${{ product.price }}</p>

      <p class="bi bi-star text-primary">{{ product.rating }}</p>

      <div class="text-start">


        <div *ngIf="product.stock === 0">
          <span style="color: red; text-align: center;">out of stock</span>
        </div>

        
         <button class="btn btn-primary" [disabled]="loading || product.stock == 0" (click)="addToCart(product)" >Add to Cart <span *ngIf="loading"
            class="spinner-border spinner-border-sm " aria-hidden="true"></span> <i *ngIf="!loading"
            class="bi bi-cart"></i></button> 
             
      </div>
    </div>
  </div>
</div>
