<!-- <nav class="navbar navbar-expand navbar-light " style="height: 50px">

  <div class="container-fluid ">
    <div class="collapse navbar-collapse d-flex flex-md-row" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll d-none d-sm-flex  flex-row"
        style="--bs-scroll-height: 100px">
        <li class="nav-item">
          <button class="nav-link active" routerLink="/">Home</button>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/products">Products </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link active" routerLink="/contact">contact-us </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active" routerLink="/about">About </a>
        </li>
      </ul>


      <div  style="height: 2rem; width: 18rem; margin-right: 1.5rem;  ">
        <div class=" w-100" style="display: flex; height: 2rem; border: 1.5px solid; border-radius: 10px; ">
          <input type="text" #searchInput (keyup)="searchProduct($event)" (keyup.enter)="search(searchInput.value) "
          
            (blur)="hideSearch() " placeholder="Search for products"
            style="width: 100%; padding: 3px; outline:none; border: 0; border-radius: 10px;">
          <span style="cursor: pointer; " (click)="search(searchInput.value)" ><i class="bi bi-search p-2 "></i></span>
        </div>


        <ul class="suggested-search "
          style=" background-color: rgb(217, 217, 217); max-height: 15rem; z-index: 100;   overflow-y: hidden;z-index: 100; position: relative; cursor: pointer; "
          class="card mx-auto shadow-lg p-2 w-100 text-truncate gap-1 " *ngIf="searchResult">
          <li class="p-2" *ngFor="let item of searchResult" (mousedown)="redirectToDetails(item._id)">
            <div class="item">
              <img src="{{item.thumbnail}}" style="width: 2rem; height: 1.5rem; ">
              <span style="margin-left: 8px;">{{item.title}}</span>
            </div>
          </li>
        </ul>

      </div>


      <div class="dropdown">
        <i class="bi bi-person-circle  ">
          <div class="dropdown-content ">
            <button class="nav-link active" style=" font-size: 17px" *ngIf="!loggedIn" routerLink="/login">
              Login
            </button>

            <button class="nav-link active" style=" font-size: 17px" *ngIf="!loggedIn" routerLink="/signup">
              Signup
            </button>

            <button class="nav-link active" style=" font-size: 17px; " *ngIf="loggedIn" (click)="logout()">
              Logout
            </button>

            <button class="nav-link active" style=" font-size: 17px" *ngIf="loggedIn" routerLink="/order">
              Orders
            </button>
            <button class="nav-link active" style=" font-size: 17px" *ngIf="loggedIn" routerLink="/wishlist">
              My wishlist
            </button>
          </div>
        </i>
      </div>
      <div class="position-relative">
        <span class="position-absolute translate-middle badge rounded-pill bg-danger" style="top: 4px; right: -18px">
          {{count}} </span>
        <span style="margin-right: 10px;"><i class="bi bi-cart " title="Cart" style="cursor: pointer   "
            routerLink="/cart">

          </i></span>
      </div>
    </div>
  </div>
</nav>
 -->































<!-- <nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
    </div>

    <div class="d-flex flex-md-row justify-content-between">
      <div style="height: 2rem; width: 18rem; margin-right: 1.5rem">
        <div class="w-100" style="
            display: flex;
            height: 2rem;
            border: 1.5px solid;
            border-radius: 10px;
          ">
          <input type="text" #searchInput (keyup)="searchProduct($event)" (keyup.enter)="search(searchInput.value)"
            (blur)="hideSearch()" placeholder="Search for products" style="
              width: 100%;
              padding: 3px;
              outline: none;
              border: 0;
              border-radius: 10px;
            " />
          <span style="cursor: pointer" (click)="search(searchInput.value)"><i class="bi bi-search p-2"></i></span>
        </div>

        <ul class="suggested-search" style="
            background-color: rgb(217, 217, 217);
            max-height: 15rem;
            z-index: 100;
            overflow-y: hidden;
            z-index: 100;
            position: relative;
            cursor: pointer;
          " class="card mx-auto shadow-lg p-2 w-100 text-truncate gap-1" *ngIf="searchResult">
          <li class="p-2" *ngFor="let item of searchResult" (mousedown)="redirectToDetails(item._id)">
            <div class="item">
              <img src="{{ item.thumbnail }}" style="width: 2rem; height: 1.5rem" />
              <span style="margin-left: 8px">{{ item.title }}</span>
            </div>
          </li>
        </ul>
      </div>

      <div class="dropdown">
        <i class="bi bi-person-circle">
          <div class="dropdown-content">
            <button class="nav-link active" style="font-size: 17px" *ngIf="!loggedIn" routerLink="/login">
              Login
            </button>

            <button class="nav-link active" style="font-size: 17px" *ngIf="!loggedIn" routerLink="/signup">
              Signup
            </button>

            <button class="nav-link active" style="font-size: 17px" *ngIf="loggedIn" (click)="logout()">
              Logout
            </button>

            <button class="nav-link active" style="font-size: 17px" *ngIf="loggedIn" routerLink="/order">
              Orders
            </button>
            <button class="nav-link active" style="font-size: 17px" *ngIf="loggedIn" routerLink="/wishlist">
              My wishlist
            </button>
          </div>
        </i>
      </div>
      <div class="position-relative">
        <span class="position-absolute translate-middle badge rounded-pill bg-danger" style="top: 4px; right: -18px">
          {{ count }}
        </span>
        <span style="margin-right: 10px"><i class="bi bi-cart" title="Cart" style="cursor: pointer" routerLink="/cart">
          </i></span>
      </div>
    </div>
  </div>
</nav>  -->





















<nav class="navbar navbar-expand-md navbar-light bg-light flex-md-nowrap ">
  <div class="container-fluid flex-row-reverse  flex-nowrap ">

    <div class="d-flex flex-md-row justify-content-between   ">
      <div style="height: 2rem; max-width: 18rem; margin-right: 1rem">
        <div class="w-100" style="  display: flex;  height: 2rem;  border: 1.5px solid;  border-radius: 10px; ">
          <input type="text" #searchInput (keyup)="searchProduct($event)" (keyup.enter)="search(searchInput.value)"
            (blur)="hideSearch()" placeholder="Search for products" style="  width: 100%;  padding: 3px;  outline: none;  border: 0;  border-radius: 10px;" />
          <span style="cursor: pointer" (click)="search(searchInput.value)"><i class="bi bi-search p-2"></i></span>
        </div>

        <ul class="suggested-search" style="  background-color: rgb(217, 217, 217);  max-height: 15rem;  z-index: 100;  overflow-y: hidden;  z-index: 100;  position: relative;  cursor: pointer;"
        class="card mx-auto shadow-lg p-2 w-100 text-truncate gap-1" *ngIf="searchResult">
          <li class="p-2" *ngFor="let item of searchResult" (mousedown)="redirectToDetails(item._id)">
            <div class="item">
              <img src="{{ item.thumbnail }}" style="width: 2rem; height: 1.5rem" />
              <span style="margin-left: 8px">{{ item.title }}</span>
            </div>
          </li>
        </ul>
      </div>
<!-- dropdown profile and cart -->
      <div class="dropdown">
        <i class="bi bi-person-circle">
          <div class="dropdown-content">
            <button class="nav-link active" style="font-size: 17px" *ngIf="!loggedIn" routerLink="/login">
              Login
            </button>

            <button class="nav-link active" style="font-size: 17px" *ngIf="!loggedIn" routerLink="/signup">
              Signup
            </button>

            <button class="nav-link active" style="font-size: 17px" *ngIf="loggedIn" (click)="logout()">
              Logout
            </button>

            <button class="nav-link active" style="font-size: 17px" *ngIf="loggedIn" routerLink="/order">
              Orders
            </button>
            <button class="nav-link active" style="font-size: 17px" *ngIf="loggedIn" routerLink="/wishlist">
              My wishlist
            </button>
          </div>
        </i>
      </div>
      <div class="position-relative">
        <span class="position-absolute translate-middle badge rounded-pill bg-danger" style="top: 4px; right: -18px">
          {{ count }}
        </span>
        <span style="margin-right: 10px"><i class="bi bi-cart" title="Cart" style="cursor: pointer" routerLink="/cart">
          </i></span>
      </div>
    </div>

    <!-- collapse  navbar  -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto my-2 my-lg-0  " style="--bs-scroll-height: 100px z-index: 50;">
        <li class="nav-item">
          <button class="nav-link " routerLink="/">Home</button>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/products">Products </a>
        </li>

        <li class="nav-item ">
          <a class="nav-link " routerLink="/contact">contact-us </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link " routerLink="/about">About </a>
        </li>
      </ul>
    </div>


  </div>
</nav>