.margin-left {
  margin-left: 40px !important;
}

 .navbar {
  background-color: #f3f3f3;
} 


.bi {
  font-size: x-large;
  padding-left: 20px;
  margin-top: 0;
}


.dropdown {
  position: relative;
  height: max-content;
  z-index: 200;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1e8e8;
  max-height: 5rem;
  width: 6rem;

  left: -20px;
  top:2rem;

  border-style: solid;
  border-width: 0.5px;

  padding-left: 7px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 768px) {
  ul li{
    font-size: 12px;
  }

}
ul li:hover{
  background-color: rgb(236, 236, 247);

  }



 /* #navbarNav{ 
  width: 100%; */
    /* position: absolute; */
     /* top: 6rem; 
    left: 0;
    padding: 10px;
    background: white;
    z-index: 100; */
  /* }   */

/* @media screen and (min-width:444px) {
  #navbarNav{
    width: max-content;
    position: relative;
  }
}  */





















