
<div class=" pt-5 m-2">
    <div class="card" style="max-width: 22rem; margin: auto; z-index: 200;">
        <div class="card-body text-center">
            <h4>Track your order here</h4>
            <div class="form-floating mt-4 mb-3">
                <input type="text" class="form-control" id="floatingEmail" #orderId placeholder="">
                <label for="floatingEmail">Order Id *</label>
            </div>
            <button class="btn btn-primary" (click)="submit(orderId.value)">check status</button>
        </div>
    </div>
</div>
<div *ngIf="order">
    <div class="py-4 p-3 d-flex flex-sm-row flex-column justify-content-around">
        <div class="d-flex flex-column gap-1">
            <h2>Customer Details</h2>
            <span>Name : {{order.shippingInfo.name}}</span>
            <!-- <span>Email : {{order.email}}</span> -->
            <br>
            <span class="text-bg-primary rounded-pill"
                style="width: max-content; padding: 5px 3rem;">{{order.status}}</span>
            <!-- <span>Expected to be deliver in 5 days</span> -->
        </div>
        <br>
        <div class="py-3 d-flex flex-column gap-1">
            <h3>Shipping details</h3>
            <span>Name : {{order.shippingInfo.name}}</span>
            <span>Phone : {{order.shippingInfo.phone}}</span>

            <b>Ship to:</b>
            <div class="shippingDetails">
                <span > house no.{{order.shippingInfo.address.house}}</span><br>
                <span>city:{{order.shippingInfo.address.city}}</span><br>
                <span>{{order.shippingInfo.address.state}}
                    ({{order.shippingInfo.address.pincode}})</span>
            </div>
        </div>
    </div>
    <br>
    <!-- {{order.items | json}} -->
    <div class="product" *ngFor="let item of order.items">
        <div class="card m-2">
            <div class="card-body" class="p-2 d-flex flex-row gap-2">
                <img src="{{item.productId.thumbnail}}" alt="" style="height:5rem; width: 5rem;">
                <div class="d-flex flex-column w-50">
                    <h5 class="card-title">{{item.productId.title}}</h5>
                    <span class="card-text">{{item.productId.description}}</span>
                </div>
                <div class="ms-auto d-flex flex-column justify-content-between">
                    <span><i class="bi bi-currency-rupee"></i>{{item.productId.price}} x {{item.quantity}}</span>
                </div>
            </div>
        </div>
    </div>
<!-- </div><i class="bi bi-currency-dollar"></i> -->