.product-header-img {
  object-fit: contain;
  height: 500px;
  width: 600px;
}

.carousel-caption {
  color: blue;
  border-radius: 5px;
}

img {
  height: 7rem;
  width: 60%;
}

.card {
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.bi {
  color: rgb(29, 29, 104);
}

.fix-img {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/* Styles for screens larger than 1200px */
@media (min-width: 1200px) and (margin: 0) {
  .container-fluid {
    max-width: 1140px;
    margin: 0 auto;
  }

  .row-cols-2 {
    column-count: 2;
  }
}

/* Styles for screens between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {
  .container-fluid {
    max-width: 960px;
    margin: 0 auto;
  }

  .row-cols-2 {
    column-count: 2;
  }
}

/* Styles for screens between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid {
    max-width: 720px;
    margin: 0 auto;
  }

  .row-cols-2 {
    column-count: 1;
  }
}

/* Styles for screens up to 767px */
@media (max-width: 767px) {
  .container-fluid {
    padding: 0 15px;
  }

  .row-cols-2 {
    column-count: 1;
  }

  .carousel-caption {
    text-align: center;
  }
}
