<div class="d-flex p-3 flex-column flex-md-row align-items-center">
  <div>
    <div class="d-flex flex-column justify-content-between ms-2" style="cursor: pointer;">
      <a routerLink="/login" style="color:blue; margin-left: 7rem; font-size: large; text-decoration: none;"
        *ngIf="!isLogged">~Already
        account</a>
      <h3 *ngIf="!isLogged" class="ps-5 pt-1">Continue as a Guest</h3>
      <!-- <h3 class="ps-5 pt-1 " *ngIf="isLogged">Shipping Details</h3> -->
    </div>

    <form class="row g-2 p-4" [formGroup]="form">
      <div class="col-sm-6" *ngIf="!isLogged">
        <label for="bname" class="form-label">name</label>
        <input type="bname" class="form-control" id="bname" formControlName="bname">
        <div *ngIf="bname && bname.touched" class="input-error text-danger">
          <span *ngIf="bname.errors?.['required'] ">Enter name</span>
          <span *ngIf="bname?.errors?.['minlength'] ">name length should be min 3 letter</span>
        </div>
      </div>

      <div class="col-sm-6" *ngIf="!isLogged">
        <label for="email" class="form-label">email</label>
        <input type="email" class="form-control" id="email" formControlName="email">
        <div *ngIf=" email  && email.touched" class="input-error  text-danger">
          <span *ngIf="email .errors?.['required'] ">Enter email </span>
          <span *ngIf="email.errors?.['minlength'] || email.errors?.['email'] ">Enter valid Email address</span>
        </div>
      </div>


      <div class="col-sm-6" *ngIf="!isLogged">
        <label for="password" class="form-label"> password </label>
        <input type="password" class="form-control" formControlName="password">
        <div *ngIf=" password  && password.touched" class="input-error  text-danger">
          <span *ngIf="password .errors?.['required'] ">Enter password </span>
          <span *ngIf="password.errors?.['minlength']  ">Enter valid password </span>
        </div>
      </div>

      <div class="row">
        <h3 class="pt-1">Shipping address</h3>

      <div class="col-sm-6">
        <label for="name" class="form-label">name</label>
        <input type="name" class="form-control" id="name" formControlName="name">
        <div *ngIf="name && name.touched" class="input-error text-danger">
          <span *ngIf="name.errors?.['required'] ">Enter name</span>
          <span *ngIf="name?.errors?.['minlength'] ">name length should be min 3 letter</span>
        </div>
      </div>


      <div class="col-sm-6">
        <label for="phone" class="form-label">phone</label>
        <input type="phone" class="form-control" maxlength="10" id="phone" formControlName="phone">
        <div *ngIf="phone && phone.touched" class="input-error  text-danger">
          <span *ngIf="phone.errors?.['required'] ">Enter phone number</span>
          <span *ngIf="phone?.errors?.['minlength'] || phone?.errors?.['pattern'] ">Enter valid phone number</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="house" class="form-label">House</label>
        <input type="text" class="form-control" id="house" placeholder="house no 123" formControlName="house">
        <div *ngIf="house && house.touched" class="input-error  text-danger">
          <span *ngIf="house.errors?.['required'] ">Enter house number</span>
          <span *ngIf="house?.errors?.['minlength'] ">Enter valid house number</span>
        </div>
      </div>

      <div class="col-sm-6">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" formControlName="city">
        <div *ngIf="city && city.touched" class="input-error  text-danger">
          <span *ngIf="city.errors?.['required'] ">Enter city</span>
          <span *ngIf="city?.errors?.['minlength'] ">Enter valid city</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="state" class="form-label">State</label>
        <select id="state" class="form-select" formControlName="state">
          <option value="bihar">Bihar</option>
          <option value="assam">Assam</option>
          <option value="chhattisgarh">Chhattisgarh</option>
          <option value="goa">Goa</option>
          <option value="gujarat">Gujarat</option>
          <option value="haryana">Haryana</option>
          <option value="himachal Pradesh">Himachal Pradesh</option>
          <option value="jharkhand">Jharkhand</option>
          <option value="Karnataka">Karnataka</option>
          <option value="delhi">Delhi</option>
          <option value="kerala">Kerala</option>

          Assam
        </select>
        <div *ngIf="state && state.touched" class="input-error  text-danger">
          <span *ngIf="state.errors?.['required'] ">Enter state</span>
          <span *ngIf="state?.errors?.['minlength'] ">Enter valid state</span>
        </div>
      </div>
      <div class="col-sm-6">
        <label for="pincode" class="form-label">Pincode</label>
        <input type="text" class="form-control" id="pincode" maxlength="6" formControlName="pincode">
        <div *ngIf="pincode && pincode.touched" class="input-error  text-danger">
          <span *ngIf="pincode.errors?.['required'] ">Enter pincode</span>
          <span *ngIf="pincode?.errors?.['minlength'] ">Enter valid pincode </span>
        </div>
      </div>
      </div>
    </form>

  </div>
  <div
    style="min-width: 20rem; max-width: 28rem; padding: 5px; margin: 5px;  border: 1px solid rgb(206, 208, 209); text-align: center;">
    <h2>Cart Summery</h2>

    <div class="summery">
      <span style="margin-left: 2px;">Subtotal</span>
      <!-- {{cartDetails | json }} -->
      <span>{{cartDetails.totalPrice}}$</span>
    </div>
    <div class="summery">
      <span>Total Items</span>
      <span>{{cartDetails.totalItems}}</span>
    </div>
    <div class="summery">
      <span>Shipping charges</span>
      <span>0</span>
    </div>
    <hr>
    <div class="summery">
      <span>Total : </span>
      <span> {{cartDetails.totalPrice}}$</span>
    </div>
    <app-stripe [order]="cartDetails" [form]="form.value" [formStatus]=" form.status"></app-stripe>
  </div>
</div>