<div class="container mt-5   shadow-lg p-3  rounded " style="background-color: #f5e6e6;">

    <form [formGroup]="form" (ngSubmit)="forgotPassword()">

        <div class="mb-3 ">
            <label for="email" class="form-label">Email</label>
            <input style="border: 0.5px solid rgb(224, 218, 218) " type="email" class="form-control"
                placeholder="Enter email" formControlName="email" />
            <div *ngIf="email && email.touched" class="text-danger">
                <span *ngIf="email.errors?.['required'] ">Enter email</span>
                <span *ngIf="email.errors?.['minlength'] || email.errors?.['email'] ">Enter valid Email address</span>
            </div>
        </div>

        <div class="mb-4 mt-3 text-center">
            <button class="btn btn-primary ">Send Link to UpdatePassword</button>
        </div>
    </form>
</div>