<h1 class="heading">About Us</h1>


 <div class="container">
    <div class="about-content">
        <div class="about-image">
            <img src="https://www.shutterstock.com/shutterstock/photos/183291602/display_1500/stock-photo-india-high-resolution-e-commerce-concept-183291602.jpg" alt="Company Image">
        </div>
        <div class="about-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Quisque sed tortor non turpis
                gravida tincidunt. Sed in nulla eget ligula cursus sodales. Suspendisse potenti. Nulla facilisi. Nulla
                venenatis bibendum eros nec efficitur.</p>
            <p>Phasellus nec dui vel nunc condimentum facilisis. Donec vel lacinia turpis. Duis euismod diam a purus
                blandit, eget congue est tincidunt. Nullam bibendum libero sed libero efficitur, a ultrices lectus
                bibendum.</p>
        </div>
    </div>
</div> 