<div *ngIf="loading " class="loader w-100 h-100 d-flex justify-content-center position-absolute  ">
    <div class="spinner-border mx-auto" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<div *ngIf=" !orders || orders && orders.length === 0">
    <h1 class="text-center mt-5"> No Order found </h1>
</div>

<h1 *ngIf="orders && orders.length > 0 " class="text-center">My orders</h1>
<div class="d-flex flex-column  gap-2 p-3" style="max-width: 100% ;display: flex; justify-content: center;
align-items: center;">
    <div *ngIf="orders">
        <div class="card  px-3 mt-2 " *ngFor="let orders of orders">

            <div class="card-body " class="p-2 d-flex flex-row gap-2">
                <div class="d-flex flex-row gap-2 w-40">
                    <img src="{{orders.items[0].productId.thumbnail}}" alt="" style="height: 5rem; width: 5rem;">
                    <div class="d-flex flex-column w-40 ">
                        <h5 class="card-title ">{{orders.items[0].productId.title}}</h5>
                        <span class="card-text">{{orders.items[0].productId.description}}</span>
                        <small class="text-primary " *ngIf="orders.items.length > 1 "> +{{orders.items.length -1 }}
                            more</small>

                    </div>
                </div>
                <div class="ms-auto d-flex flex-column justify-content-between ">

                    <span class="badge "
                        [class.bg-warning]="orders.status ==='delivered'"
                        [class.bg-success]="orders.status ==='completed'"
                        [class.bg-danger]="orders.status ==='canceled'">

                        {{orders.status | titlecase}}
                    </span>



                    <button class="mt-2 btn btn-sm btn-primary" title="View Details"
                        [routerLink]="['/order',orders._id]">View Details</button>
                </div>
            </div>
        </div>
    </div>
</div>